.tbl_ad-itm,
.tbl_ad-itm2,
.tbl_cnt_wrp,
.tbl_lhs_wrp,
.tbl_rhs_wrp {
  display: inline-block;
  width: 100%;
  float: left;
}

.tbl_ad-ttl,
.tbl_sub-txt {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tbl_cnt_wrp {
  z-index: 1;
  position: relative;
}

.tbl_ad-itm {
  margin-bottom: 24px;
}

.tbl_ad-itm2 {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin-bottom: 25px;
}

.tbl_hdr-rgt .tbl_ad-itm:last-child {
  margin-bottom: 12px;
}

.tbl_ad-img,
.tbl_img-img {
  display: block;
  overflow: hidden;
}

.tbl_ad-img2 {
  border-radius: 6px;
  display: inline-block;
  float: left;
  width: 100px;
  margin-right: 15px;
  overflow: hidden;
}

.tbl_ad-cnt {
  margin-top: 10px;
}

.tbl_ad-ttl {
  color: #a5a5a5;
  display: -webkit-box;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  margin-bottom: 8px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tbl_hdr-txt,
.tbl_hdr-wrp,
.tbl_sub-txt {
  display: inline-block;
}

.tbl_lhs_wrp .tbl_ad-ttl {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

tbl_ad-txt {
  display: block;
}

.tbl_sub-txt {
  color: var(--vj-cl-dr7);
  float: left;
  font-size: 10px;
  border-right: 1px solid var(--vj-cl-lg4);
  line-height: 15px;
  margin: 0 4px 0 0;
  padding: 0 4px 0 0;
  max-width: 73%;
  white-space: nowrap;
}

.tbl_sub-txt:last-child {
  border-right: 0;
  margin: auto 0 auto auto;
  padding: 0;
}

.tbl_hdr-wrp {
  margin: 0 0 10px;
  width: 100%;
}

.tbl_hdr-lft {
  float: left;
}

.tbl_hdr-rgt {
  float: right;
}

.tbl_hdr-lgo {
  width: 76px;
}

.tbl_hdr-ttl {
  color: #cdcdcd;
  font-size: 15px;
  font-weight: 600;
}

.tbl_hdr-txt {
  float: left;
  color: var(--vj-cl-dr1);
  font-size: 13px;
  font-weight: 300;
}

.tbl_ad-grd {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;
}

.tbl_ad-grd2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.tbl_ad_grd-itm {
  float: left;
  width: 100%;
}

.tbl_ad-grd:after,
.tbl_ad-grd:before {
  clear: both;
  content: "";
  display: block;
}

.tbl_ad_grd-one .tbl_ad_grd-itm {
  padding: 0;
  width: 100%;
}

.tbl_ad_grd-two .tbl_ad_grd-itm {
  padding: 0 7px;
  width: 50%;
}

.tbl_ad_grd-thr .tbl_ad_grd-itm {
  padding: 0 7px;
  width: 33.3%;
}

@media only screen and (max-device-width: 768px) {
  .tbl_cnt_wrp {
    padding-top: 10px;
  }

  .tbl_lhs_wrp,
  .tbl_rhs_wrp {
    float: none;
    max-width: none;
    padding: 0 20px;
    width: 100%;
  }

  .tbl_ad_grd-thr .tbl_ad_grd-itm,
  .tbl_ad_grd-two .tbl_ad_grd-itm {
    float: none;
    width: 100%;
  }
}
