/*--====== Light ======--*/
:root {
    --vj-cl-NstEl1: #ffffff;
    --vj-cl-NstEl2: #2867cf;
    --vj-cl-NstEl3: #252629;
    --vj-cl-NstEl4: #404040;
    --vj-cl-NstEl5: #e2e2e2;
    --vj-cl-NstEl6: #000000;
    --vj-cl-NstEl7: #d93939;
    --vj-cl-NstEl8: #555555;
    --vj-cl-NstEl9: #32528b;
    --vj-cl-NstEl10: #202a39;
    --vj-cl-NstEl11: #4063a2;
    --vj-cl-NstEl12: rgba(214, 217, 223, 0.5);
    --vj-cl-NstEl13: #e8edfc;
    --vj-cl-NstEl14: rgba(210, 214, 223, 0.68);
    --vj-cl-NstEl15: #697179;
}

/*--====== Dark ======--*/
:root .day_night {
    --vj-cl-NstEl1: #ffffff;
    --vj-cl-NstEl2: #2867cf;
    --vj-cl-NstEl3: #18305b;
    --vj-cl-NstEl4: #13274b;
    --vj-cl-NstEl5: #e2e2e2;
    --vj-cl-NstEl6: #000000;
    --vj-cl-NstEl7: #d93939;
    --vj-cl-NstEl8: #555555;
    --vj-cl-NstEl9: #213c66;
    --vj-cl-NstEl10: #202a39;
    --vj-cl-NstEl11: #112c57;
    --vj-cl-NstEl12: rgba(226, 229, 235, 0.05);
    --vj-cl-NstEl13: #e8edfc;
    --vj-cl-NstEl14: rgba(226, 229, 235, 0.1);
    --vj-cl-NstEl15: #b5b5b5;
}

/*--====== Dark Mode ======--*/
@media (prefers-color-scheme:dark) {

    /*--====== Dark ======--*/
    :root {
        --vj-cl-NstEl1: #ffffff;
        --vj-cl-NstEl2: #2867cf;
        --vj-cl-NstEl3: #18305b;
        --vj-cl-NstEl4: #13274b;
        --vj-cl-NstEl5: #e2e2e2;
        --vj-cl-NstEl6: #000000;
        --vj-cl-NstEl7: #d93939;
        --vj-cl-NstEl8: #555555;
        --vj-cl-NstEl9: #213c66;
        --vj-cl-NstEl10: #202a39;
        --vj-cl-NstEl11: #112c57;
        --vj-cl-NstEl12: rgba(226, 229, 235, 0.05);
        --vj-cl-NstEl13: #e8edfc;
        --vj-cl-NstEl14: rgba(226, 229, 235, 0.1);
        --vj-cl-NstEl15: #b5b5b5;

    }

    /*--====== Light ======--*/
    :root .day_night {
        --vj-cl-NstEl1: #ffffff;
        --vj-cl-NstEl2: #2867cf;
        --vj-cl-NstEl3: #252629;
        --vj-cl-NstEl4: #404040;
        --vj-cl-NstEl5: #e2e2e2;
        --vj-cl-NstEl6: #000000;
        --vj-cl-NstEl7: #d93939;
        --vj-cl-NstEl8: #555555;
        --vj-cl-NstEl9: #32528b;
        --vj-cl-NstEl10: #202a39;
        --vj-cl-NstEl11: #4063a2;
        --vj-cl-NstEl12: rgba(214, 217, 223, 0.5);
        --vj-cl-NstEl13: #e8edfc;
        --vj-cl-NstEl14: rgba(210, 214, 223, 0.68);
        --vj-cl-NstEl15: #697179;

    }
}

.NstEl_icn-wr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    margin-bottom: 10px;
}

.NstEl_icn-wr1 {
    bottom: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    right: -56px;
    padding-left: 0;
    position: absolute;
    z-index: 11;
}

.NstEl_icn-wr.NstEl_icn-wr2 {
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.NstEl_icn-wr.NstEl_icn-wr2 .NstEl_icn-lk {
    margin-bottom: 0;
    margin-right: 5px;
    position: relative;
}

.NstEl_icn-wr.NstEl_icn-wr2 .NstEl_icn-lk:hover {
    background: var(--vj-cl-NstEl14);
}

.NstSl_li-vdo .NstEl_icn-wr.NstEl_icn-wr2 .NstEl_icn-lk:hover {
    background: #4e525a;
}

.NstEl_icn-wr2 .NstEl_icn {
    background-color: transparent;
    width: 35px;
    height: 35px;
}

.NstEl_icn-wr.NstEl_icn-wr2 .NstEl_icn-lk:last-child {
    margin-right: 0;
}

.NstElMr_wr.NstElMr_bt {
    bottom: 40px;
    left: auto;
    right: 3px;
    -webkit-transform-origin: right bottom;
}

.NstElMr_wr.NstElMr_bt .NstElMr_ul::before {
    bottom: -12px;
    left: auto;
    right: 8px;
    transform: rotate(90deg);
}

.NstElMr_wr.NstElMr_bt .NstElMr_ul::after {
    bottom: -11px;
    left: auto;
    right: 8px;
    transform: rotate(90deg);
}

.NstEl_icn-lk:last-child {
    margin-bottom: 0;
}

.NstEl_icn {
    align-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    justify-content: center;
    height: 42px;
    position: relative;
    transition: 0.3s ease all;
    width: 42px;
    z-index: 12;
}

.NstEl_icn-svg {
    color: var(--vj-cl-NstEl15);

}

.NstEl_icn-lk {
    background: var(--vj-cl-NstEl12);
    border-radius: 50%;
    display: flex;
    margin-bottom: 9px;
    position: relative;
}

.NstEl_icn-wr1 .NstEl_icn-lk {
    background: var(--vj-cl-NstEl9);
}

.js_icon-more .NstElMr_ovrly {
    /* display: inline-block; */
    opacity: 1;
    /* z-index: 2; */
}

.js_icon-more .NstElMr_wr {
    /* display: inline-block; */
    opacity: 1;
    -webkit-transform-origin: right bottom;
    -webkit-transform: scale(1, 1);
    z-index: 16;

}

.NstElMr_ovrly {
    background-color: transparent;
    /* display: none; */
    left: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.NstElMr_wr {
    border-radius: 7px;
    border: 1px solid var(--vj-cl-NstEl4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.23);
    bottom: 61px;
    display: flex;
    font-size: 14px;
    min-height: 53px;
    opacity: 0;
    position: absolute;
    right: 56px;
    text-align: left;
    width: 140px;
    -webkit-transition: all 0.2s ease;
    -webkit-transform-origin: left bottom;
    -webkit-transform: scale(0);
    z-index: -1;
}

.NstElMr_ul::before {
    border: solid transparent;
    border-width: 6px;
    border-left-color: var(--vj-cl-NstEl4);
    bottom: 8px;
    content: "";
    height: 8px;
    right: -13px;
    position: absolute;
    width: 6px;
    z-index: 9;
}

.NstElMr_ul::after {
    border: solid transparent;
    border-width: 6px;
    border-left-color: var(--vj-cl-NstEl3);
    bottom: 8px;
    content: "";
    height: 8px;
    right: -12px;
    position: absolute;
    width: 8px;
    z-index: 9;
}

.NstElMr_ul {
    display: flex;
    flex-direction: column;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.NstElMr_li {
    background: var(--vj-cl-NstEl3);
    display: flex;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 15px;
    color: var(--vj-cl-NstEl5);
    float: left;
    font-family: var(--ff-one);
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    padding: 4px 2px 4px 8px;
    position: relative;
    text-transform: capitalize;
    width: 100%;
}

.NstElMr_li:hover {
    background-color: #333437;
    color: var(--vj-cl-NstEl1);
}

.NstElMr_li-lk:first-child {
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}

.NstElMr_li-lk:last-child {
    border: 0;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
}

.NstElMr_li-lk {
    border-bottom: 1px solid var(--vj-cl-NstEl4);
}

.NstEl_shr-pp .SSR_btn-lnk {
    border: 0 none;
    min-width: auto;
}

.NstEl_shr-pp.SSR_drp-nav-tp .SSR_drp-nav {
    left: 38px;
    bottom: 3px;
    -webkit-transform-origin: left bottom;
}

.NstEl_shr-pp.SSR_drp-nav-tp .SSR_drp-nav-ul::after {
    border-width: 7px;
    bottom: 8px;
    top: inherit;
    transform: rotate(270deg);
    left: -10px;
}

.NstEl_shr-pp.SSR_drp-nav-tp .SSR_drp-nav-ul::before {
    border-width: 7px;
    border-bottom-color: transparent;
    bottom: 8px;
    left: -10px;
    top: inherit;
    transform: rotate(90deg);
}

.NstEl_shr-pp.SSR_btn-sm .SSR_btn-lnk {
    height: 35px;
    min-width: 35px;
}

.NstEl_icn-lk:hover .NstElMr_wr1 {
    display: flex;
    opacity: 1;
    -webkit-transform-origin: left bottom;
    -webkit-transform: scale(1, 1);
    z-index: 16;
}

.BepSl_vdo-wr .NstEl_icn-lk {
    background: rgba(68, 77, 95, 0.49);
}

.BepSl_vdo-wr .NstEl_icn-svg {
    color: #ffffff;
}
.BepSl_vdo-wr .SSR_icn {
    color: #ffffff;
}
@media (min-width:560px) {

    .NstElMr_wr {
        bottom: 5px;
        left: 42px;
        -webkit-transform-origin: left bottom;
    }

    .NstElMr_ul::before {
        left: -13px;
        transform: rotate(180deg);
    }

    .NstElMr_ul::after {
        left: -11px;
        transform: rotate(180deg);
    }
}

@media (min-width:768px) {
    .NstEl_icn-wr {
        display: none;
    }

    .NstEl_icn-svg {
        color: var(--vj-cl-NstEl13);

    }

    .NstEl_icn-wr1 {
        display: flex;
    }

    .NstEl_icn-wr1 .NstEl_icn:hover {
        background: var(--vj-cl-NstEl11);
    }

    .NstEl_icn {
        font-size: 17px;
    }
    .NstEl_icn.js-HeartLike {
        font-size: 19px;
    }
}